<div class="outer">
  <div class="middle">
    <div class="inner p-10">
      <div style="overflow: hidden">
        <div class="row">
          <div class="col-lg-6 panel">
            <div>
              <form [formGroup]="forgotPasswordForm">
                <h3>Forgot Password</h3>
                <p class="p-t-5">
                  Enter your email below to recieve your password <br />reset
                  instructions
                </p>

                @if(errorMessage.length > 0){

                <ngb-alert
                  class="m-b-10"
                  [dismissible]="false"
                  [type]="'info'"
                  style="width: 70%; margin: 0 auto"
                >
                  {{ errorMessage }} <br />
                </ngb-alert>

                } @if(warningMessage.length > 0){

                <ngb-alert
                  class="m-b-10"
                  [dismissible]="false"
                  [type]="'warning'"
                  style="width: 70%; margin: 0 auto"
                >
                  {{ warningMessage }} <br />
                </ngb-alert>

                }
                <mat-form-field style="display: block">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" />
                  @if (forgotPasswordForm.controls.email.errors?.['required']) {
                  <mat-error> This field is required</mat-error>
                  }
                </mat-form-field>
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  style="width: 400px; color: white"
                  (click)="submit()"
                >
                  Submit
                </button>
              </form>
            </div>
            <div class="m-t-10">
              <a
                class="action-link"
                style="text-align: left"
                [routerLink]="['/login']"
              >
                <mat-icon
                  aria-hidden="false"
                  fontIcon="arrow_back"
                  style="vertical-align: middle; font-size: 20px"
                ></mat-icon>
                <span style="vertical-align: middle">Back to login</span></a
              >
            </div>
          </div>
          <div class="col-lg-6" style="vertical-align: middle">
            <img
              src="./../../../../../assets/images/Forgot password.png"
              alt="forgot-password-img"
              height="90%"
              width="90%"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
