<div class="row" style="margin-top: 50px; overflow: hidden">
  <div class="col-lg-4">
    <h3>New Type</h3>
    <mat-form-field style="margin-top: 10px">
      <mat-label>Type</mat-label>
      <input matInput [(ngModel)]="newType" />
    </mat-form-field>
    <br />
    <button
      mat-flat-button
      style="margin-right: 5px;"
      (click)="clear()">
      Clear
    </button>
    <button
      mat-flat-button
      color="accent"
      style="color: white"
      (click)="addAnimalType()"
    >
      Add
    </button>
  </div>
  <div class="col-lg-6"><app-types-list #typeList></app-types-list></div>
</div>
