<div class="outer">
  <div class="middle">
    <div class="inner p-10">
      <div style="overflow: hidden">
        <div class="row">
          <div class="col-lg-6 panel">
            <div>
              <form [formGroup]="loginForm" (submit)="(login)">
                <h3>LOGIN</h3>
                <p class="p-t-5">Enter your login credentials below</p>
                @if(errorMessage.length > 0){

                <ngb-alert
                  class="m-b-10"
                  [dismissible]="false"
                  [type]="'info'"
                  style="width: 70%; margin: 0 auto"
                >
                  @for (error of errorMessage; track $index) {
                  {{ error }} <br />
                  }
                </ngb-alert>

                }
                <mat-form-field style="display: block">
                  <mat-label>Email or name</mat-label>
                  <input matInput formControlName="emailOrName" />
                  @if (loginForm.controls.emailOrName.errors?.['required']) {
                  <mat-error> This field is required</mat-error>
                  }
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    [type]="hidePassword ? 'password' : 'text'"
                    formControlName="password"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hidePassword"
                  >
                    <mat-icon>{{
                      hidePassword ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  @if (loginForm.controls.password.errors?.['required']) {
                  <mat-error> This field is required</mat-error>
                  }
                </mat-form-field>
                <br />
                <a class="action-link" [routerLink]="['/forgot-password']"
                  ><p>forgot password?</p></a
                >
                <br />
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  style="width: 400px; color: white"
                  (click)="login()"
                >
                  Sign In
                </button>
              </form>
            </div>
            <div class="m-t-10" style="width: 100%">
              <p>
                Don't have an account?
                <a
                  class="action-link"
                  style="float: none"
                  [routerLink]="['/auth/signup']"
                  >Sign Up</a
                >
              </p>
            </div>
            <!-- <div class="m-t-10">
              <a class="action-link" style="text-align: left" [routerLink]="['/']">
                <mat-icon
                  aria-hidden="false"
                  fontIcon="arrow_back"
                  style="vertical-align: middle; font-size: 20px"
                ></mat-icon>
                <span style="vertical-align: middle">Back to home page</span></a
              >
            </div> -->
          </div>
          <div class="col-lg-6" style="vertical-align: middle">
            <img
              src="./../../../../../assets/images/logo.png"
              alt="logo"
              height="90%"
              width="90%"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
