mat-grid-tile {
  max-height: 100px;
  overflow: auto;
}

.example-card {
  width: 400px;
}

.add-button {
  position: absolute;
  right: 30px;
}

.edit-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
